.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.search-container:hover,
.search-container:focus-within {
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
  border-color: #ff6b00;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-icon {
  color: #666;
  font-size: 16px;
  margin-right: 10px;
}

.search-input {
  border: none;
  font-size: 14px;
  color: #333;
  flex: 1;
  background: transparent;
  outline: none;
  padding: 5px 0;
}

.search-input::placeholder {
  color: black;
}