.home-component {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desc h1 {
    font-size: 48px;
    font-weight: 600;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.desc span {
    font-size: 48px;
    font-weight: 600;
    color: #ff6b00;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-component {
    display: flex;
    gap: 24px;
}

.btn-component .order {
    width: 200px;
    background-color: #ff6b00;
    color: white;
    font-weight: 600;
    padding: 6px;
    font-size: 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-component .order:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-component .items {
    width: 200px;
    background-color: transparent;
    color: black;
    font-weight: 600;
    padding: 6px;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-component .items:hover {
    background-color: #ff6b00;
    color: white;
    transform: scale(1.1);
    border: none;
}
