.greeting-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.greeting-section .user-name {
    font-size: 48px;
    font-weight: 600;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.greeting-section p {
    font-size: 24px;
    color: gray;
}

.greeting-section span {
    font-size: 48px;
    font-weight: 600;
    color: #ff6b00;
    font-family: Arial, Helvetica, sans-serif;
}